@model IEnumerable<RkaaAVLS.Models.Entites.Vehicletype>

@{
    ViewBag.Title = "انواع وسیله نقلیه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("ایجاد", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id=item.TypeId }) |
            @Html.ActionLink("حذف", "Delete", new { id=item.TypeId })
        </td>
    </tr>
}

</table>
