@model RkaaAVLS.Models.Entites.MainOrganization

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>آیا مطمن هستید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainOrganName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainOrganName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainOrgManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainOrgManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainOrgManagerTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainOrgManagerTel)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index")
        </div>
    }
</div>
