@model RkaaAVLS.Models.Entites.MainOrganization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MainOrganization</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MainOrganName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MainOrganName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MainOrgManagerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MainOrgManagerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MainOrgManagerTel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MainOrgManagerTel)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MainOrganID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
