<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page-header bg-danger text-right text-right" style="padding:1%">
        <img src="~/Content/logo.png" style="margin-left:auto;margin-right:auto;display:block;" />
        <div class="row" style="padding-top:2%">
            <div class="col-md-4" style="text-align:left;font-size:15px">
                @Html.ActionLink("خروج", "Logout", "Auth",null, new {  @class = "btn btn-danger"  })
            </div>
            <div class="col-md-4" style="text-align:center;color:#CB48B7!important;font-size:15px">
                <label>@ViewBag.DateNow</label>
            </div>
            <div class="col-md-4" style="text-align:center;color:#CB48B7!important;font-size:15px">
               <label>کاربر : </label> <label>@ViewBag.OnlineUser</lable>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
